@import "foundation/components/grid";

$base-url: "";
$theme-color: #2cbf4d;
$header-height: 120px;
$header-color: #2dcca9;

/* Custom CSS
 * --------------------------------------- */
body{
	font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "冬青黑体", "Microsoft YaHei", "微软雅黑", Arial;
}
h1, h2, h3, h4, h5, h6, p, i {
	font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "冬青黑体", "Microsoft YaHei", "微软雅黑", Arial;
    color: #222;
}

h1, h2, h3, h4, h5, h6 {
    color: $theme-color;
}

.wrap{
    position: relative;
	margin: 0 auto;
	max-width: 960px;
}

.radius {
    border-radius: 4px;
}

.required:after {
    content: " *";
    color: #ff4444;
}

/* Header Css
 *  --------------------------------------- */
#header {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(234, 234, 234, 0.8);
    height: $header-height;
    box-shadow: 0px 2px 2px #888;

    * {
        font-family: Helvetica, "Microsoft YaHei", "微软雅黑", STHeiti, Arial;
    }

    .wrap {
        height: 100%;
    }

    nav {
        margin-top: $header-height - 43px;

        .name h1 {
            display: none;
        }
        .nav-item {
            color: $header-color;
            font-weight: 400;
            margin: 0;
            font-size: 1.4em;
            padding: 0 1.6rem;
        }

        .nav-item:hover {
            color: #fff;
        }

        .second {
            font-size: 1.2em;
        }
    }

    .dropdown.button::after {
        border: 0px;
    }

    .dropdown span {
        display: inline-block;
        content: "";
        vertical-align: middle;
        margin-left: 4px;
        border: 6px solid;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }


    .logo {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;

        > a {
            display: block;
            height: 100%;
            background: url(#{$base-url}/img/logo.png) no-repeat center;
            background-size: auto 100%;
            position: relative;
        }

        .bottom-words {
            position: absolute;
            bottom: 0;
            left: 50%;
            font-size: 170%;
            margin-left: -50px;
            color: $header-color;
        }

        .jimi {
            visibility: hidden;
        }
    }
}

#products-drop:before, #products-drop:after {
    left: 74px;
}
#products-drop {
    width: 160px;
    margin-top: 0;

    li a {
        padding: 0;
        margin: 0;
        color: $header-color;
        background-color: rgba(234, 234, 224, 0.8);
        line-height: 40px;
    }
}

body {
    padding-top: $header-height;
}

/* Main Css
 *  --------------------------------------- */
.main {
    width: 100%;
}

.first-view {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #f3f2ea;
    background-size: cover;
    background-position: center;

    .caption-container {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.banner-image {
    width: 100%;
    height: auto;
}

.first-view:after {
    clear: both;
    content: " ";
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(#{$base-url}/img/four-colors-line.png) no-repeat center;
    background-size: 100% 100%;
}

/* Footer Css
 * ----------------------------------------- */
 #footer {
     height: 60px;
     width: 100%;
     background-color: #ddd;
     overflow: hidden;
 }

 #footer a, #footer p {
     color: #777;
     font-size: 14px;
     text-align: center;
 }

 #footer .copyright {
     margin-top: 10px;
     margin-bottom: 2px;
 }

 #footer ul a {
     line-height: 60px;
     padding: 0 20px;
 }

 #footer li {
     display: inline-block;
     margin: 0;
 }

 #footer li.has-next:after {
     color: #777;
     content: "|";
 }

 .social img {
     border-radius: 4px;
 }

 .contact-about {
    position: relative;
    background-color: #dbd9da;
    padding-bottom: 20px;
 }

.contact-about:before {
    content: "";
    background-color: gray;
    position: absolute;
    top: 0;
    height: 5px;
    width: 100%;
}

.contact-about:after {
    content: "";
    background-color: white;
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 100%;
}

.submit {
    margin-right: 16px;
    padding: 10px 30px;
    background-color: gray;
}

.section-title {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.about-us {
    padding-left: 80px;
}

.about-us ul {
    margin-left: 0;
    list-style-type: none;
}

.sub-section-title {
    color: black;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.model {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin: 0 auto;
    background: transparent no-repeat center;
    background-size: contain;
}


/*
 Medium CSS
 --------------------------------------- */

@media #{$medium-up} { 
}

/*
 small CSS
 --------------------------------------- */
@media #{$small-only} { 
    .caption-container {
        background-color: rgba(0, 0, 0, 0.1);
    }

    #header {
        .expanded .nav-item {
            background-color: white;
        }

        .expanded .nav-item:hover {
            background-color: $header-color;
        }

        .title.back a {
            background: white;
        }

        .title.back a:hover {
            color: white;
            background-color: $header-color;
        }

        .logo {
            > a {
                background-position: left center;
            }

            .bottom-words {
                left: 0;
                margin-left: 26px;
            }
        }
    }

    #footer {
        height: 180px;
    }

    .footer-item {
        margin: 0 auto;
        height: 60px;
    }

    .about-us {
        padding-left: 20px;
    }
}