- $base_url = ""

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" href="/images/favicon.png" type="image/png">
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
<title>极觅数据</title>
<meta name="description" content="">
<link rel="stylesheet" href="#{$base_url}/stylesheets/app.css"/>
<link rel="stylesheet" href="#{$base_url}/stylesheets/animate.css"/>
<script src="#{$base_url}/bower_components/modernizr/modernizr.js"></script>
