@import  "main";

#header #nav-join-us {
    color: #ddd;
    border-color: #2285a2;
}

.first-view {
    background-image: url(#{$base_url}/img/join-us-banner.jpg);
}

body {
    min-width: 960px;
}

.section-title {
    text-align: left;
}

.tabs.vertical {
    width: 160px;
    float: left;

    >.tab-title {
        margin-bottom: 10px !important;

        a {
            background-color: #aaa;
            color: white;
        }

        &.active a {
            background-color: $theme-color;
        }
    }
}

.tabs-content {
    width: auto;
    max-width: 100%;
}

.recruitment-details {
    margin-left: 204px;

    >.content {
        padding-top: 0;
    }

    .tabs {
        height: 60px;
        background-color: #EFEFEF;

        li {
            height: 60px;
        }
    }

    .tab-title>a {
        height: 100%;
        text-align: center;
    }

    .tab-title.active {
        border-left: solid 1px #e1e1e1;
        border-right: solid 1px #e1e1e1;
        border-top: solid 1px #e1e1e1;
        border-radius: 4px;
    }
}

.tab-title>a.two-line {
    padding-top: 6px;
}

.recruitment-process {
    height: 800px;
    width: 100%;
    max-width: 700px;
    background: url(#{$base-url}/img/recruitment-process.png) no-repeat center;
    background-size: 100% auto;

    .second-line, .third-line {
        margin-top: 178px;
    }

    li {
        text-align: center;
    }
}