@import "main";

.feature {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;

    .content {
        padding: 20px;
    }

    h2 {
        color: #0a0a0a;
    }
    p {
        color: #2b2b2b;
    }

    >* {
        display: inline-block;
        vertical-align: middle;
    }

    :last-child {
        margin-left: -10px;
    }
}

.section {
    height: 500px;

    h1, h2, p {
        text-align: center;
    }
}

.first-view {
    height: 100%;

    * {
        color: white;
    }

    >* {
        height: 100%;
    }
}

.app .first-view {
    background-image: url(#{$base-url}/img/products/app-banner.jpg);
}

.lbs .first-view {
    background-image: url(#{$base-url}/img/products/lbs-banner.jpg);
}

.bi .first-view {
    background-image: url(#{$base-url}/img/products/bi-banner.jpg);
}

.scenic-information .feature {
    background-image: url("#{$base_url}/img/products/app-scenic.jpg");
}

.lbs-game .feature {
    background-image: url("#{$base_url}/img/products/app-games.jpg");
}

.social .feature {
    background-image: url("#{$base_url}/img/products/app-social.jpg");
}

.voice-intro .feature {
    background-image: url("#{$base_url}/img/products/app-voice.jpg");
}

.sharing .feature {
    background-image: url("#{$base_url}/img/products/app-sharing.jpg");
}

.online-manage .feature {
    background-image: url("#{$base_url}/img/products/bi-online-manage.jpg");
}

.push-notification .feature {
    background-image: url("#{$base_url}/img/products/bi-push.jpg");
}

.track .feature {
    background-image: url("#{$base_url}/img/products/bi-track.jpg");
}

.data-mining .feature {
    background-image: url("#{$base_url}/img/products/bi-data-mining.jpg");
}

.ugc .feature {
    background-image: url("#{$base_url}/img/products/bi-ugc.jpg");
}

.activities .feature {
    background-image: url("#{$base_url}/img/products/lbs-activities.jpg");
}

.online-promote .feature {
    background-image: url("#{$base_url}/img/products/lbs-online-promote.png");
}

.hot-scenic .feature {
    background-image: url("#{$base_url}/img/products/lbs-hot.png");
}

.first-view .container {
    position: absolute;
}

.lbs .first-view .container {
    padding: 10px 20px;
    max-width: 50%;
    top: 50%;
    margin-top: -100px;
    right: 40px;
    background-color: rgba(240, 240, 240, 0.8);
    border-radius: 5px;

    * {
        color: $theme-color;
        text-align: left;
    }

    p::before {
        border: 1px $theme-color solid;
        width: 100%;
    }
}

.scenic-radios {
    margin-left: 0;

    input[type="radio"] {
        display: none;
    }

    label:before {
        content: "";
        width: 0;
        height: 0;
        padding:0 9px;
        border: 2px white solid;
        border-radius: 20px;
        margin-right: 16px;
    }

    input[type="radio"]:checked + label:before {
        background-color: $theme-color;
    }
}

.store-icon {
    display: inline-block;
    width: 135px;
    height: 40px;
    margin: 8px 0;
}

.ios {
    background: url(#{$base-url}/img/icons/App_Store_Badge_135x40.svg) transparent no-repeat;
}
.android {
    background: url(#{$base-url}/img/icons/Android_135x40.png) transparent no-repeat;
}
.qrcode {
    width: 100px;
    height: 100px;
    margin: 8px 20px;
}


/*
 Medium CSS
 --------------------------------------- */

@media #{$medium-up} { 
    .app .first-view .container {
        left: 50%;
        margin-left: -270px;
        bottom: 60px;
        width: 540px;
    }

    .radio-container.szww {
        margin-top: 24px;
    }

    .radio-container.zhosr {
        margin-top: 34px;
    }

    .section:nth-child(odd) .feature {
        background-position: right center;
    }

    .section:nth-child(even) .feature {
        background-position: left center;
    }
}

/*
 small CSS
 --------------------------------------- */
@media #{$small-only} { 
    .radio-container {
        display: inline-block;
        margin: 12px;
    }

    .app .first-view .container {
        width: auto;
        margin: 20px 0;
        left: 0;
        bottom: 0;
    }

    .section {
        height: auto;
    }

    .feature {
        width: 300px;
        background-position: center top;

        .model {
            height: 300px;
        }

        .content {
            display: block;
            margin-top: 0;
        }
    }
}