@import  "main";

.first-view {
    height: auto;
}

.bxslider {
    .slider-bg {
        margin: 0 auto;
    }

    li {
        background: white;
    }

    .caption {
        position: absolute;
        bottom: 150px;
        width: 100%;

        .title {
            margin: 0 auto;
            text-align: center;
        }

        .details {
            margin: 10px auto;
            padding: 8px;
            font-size: 1.2em;
            text-align: center;
            color: white;
            max-width: 60%;
        }
    }
}

.bx-wrapper {
    margin-bottom: 0;

    .bx-pager.bx-default-pager a:hover, .bx-pager.bx-default-pager a.active {
        background-color: white;
    }

    .bx-controls {
        position: absolute;
        width: 100%;
        height: 40px;
        bottom: 43px;
    }
}

ul.members {
    list-style: none;
    margin: 0;
}

li.member {
    margin: 20px auto 40px;
}

.avatar {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border: $theme-color solid 3px;
    border-radius: 80px;
    overflow: hidden;
}

.member {
    .title {
        margin: 6px auto;
        text-align: center;

        .name {
            font-size: 26px;
        }
    }
    .detail {
        text-indent: 2em;
        padding: 4px 16px;
    }
}

@media #{$medium-only} { 
    .bxslider {
        .caption {
            position: absolute;
            top: 20px;
            width: 100%;
        }
    }
}

@media #{$small-only} { 
    .bxslider {
        .caption {
            position: absolute;
            top: 20px;
            width: 100%;

            .title {
                height: 32px;
                margin: 0 auto;
                text-align: center;
            }

            .details {
                font-size: 0.8em;
                max-width: 90%;
            }
        }
    }
}