@charset "UTF-8";
/* line 348, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-version {
  font-family: "/5.5.1/";
}

/* line 352, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0;
}

/* line 357, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-small-only {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0;
}

/* line 362, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

/* line 367, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-medium-only {
  font-family: "/only screen and (min-width:40.063em) and (max-width:64em)/";
  width: 40.063em;
}

/* line 372, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

/* line 377, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-large-only {
  font-family: "/only screen and (min-width:64.063em) and (max-width:90em)/";
  width: 64.063em;
}

/* line 382, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

/* line 387, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge-only {
  font-family: "/only screen and (min-width:90.063em) and (max-width:120em)/";
  width: 90.063em;
}

/* line 392, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

/* line 397, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false;
}

/* line 404, ../bower_components/foundation/scss/foundation/components/_global.scss */
html, body {
  height: 100%;
}

/* line 407, ../bower_components/foundation/scss/foundation/components/_global.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 413, ../bower_components/foundation/scss/foundation/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 417, ../bower_components/foundation/scss/foundation/components/_global.scss */
body {
  background: #fff;
  color: #222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto;
}

/* line 430, ../bower_components/foundation/scss/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 433, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 435, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 439, ../bower_components/foundation/scss/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 446, ../bower_components/foundation/scss/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 447, ../bower_components/foundation/scss/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 172, ../bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 173, ../bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 451, ../bower_components/foundation/scss/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 456, ../bower_components/foundation/scss/foundation/components/_global.scss */
.invisible {
  visibility: hidden;
}

/* line 462, ../bower_components/foundation/scss/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 465, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 475, ../bower_components/foundation/scss/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 478, ../bower_components/foundation/scss/foundation/components/_global.scss */
select {
  width: 100%;
}

/* line 232, ../bower_components/foundation/scss/foundation/components/_grid.scss */
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
}
/* line 172, ../bower_components/foundation/scss/foundation/components/_global.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 173, ../bower_components/foundation/scss/foundation/components/_global.scss */
.row:after {
  clear: both;
}
/* line 236, ../bower_components/foundation/scss/foundation/components/_grid.scss */
.row.collapse > .column,
.row.collapse > .columns {
  padding-left: 0;
  padding-right: 0;
}
/* line 239, ../bower_components/foundation/scss/foundation/components/_grid.scss */
.row.collapse .row {
  margin-left: 0;
  margin-right: 0;
}
/* line 242, ../bower_components/foundation/scss/foundation/components/_grid.scss */
.row .row {
  width: auto;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
}
/* line 172, ../bower_components/foundation/scss/foundation/components/_global.scss */
.row .row:before, .row .row:after {
  content: " ";
  display: table;
}
/* line 173, ../bower_components/foundation/scss/foundation/components/_global.scss */
.row .row:after {
  clear: both;
}
/* line 243, ../bower_components/foundation/scss/foundation/components/_grid.scss */
.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
}
/* line 172, ../bower_components/foundation/scss/foundation/components/_global.scss */
.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table;
}
/* line 173, ../bower_components/foundation/scss/foundation/components/_global.scss */
.row .row.collapse:after {
  clear: both;
}

/* line 247, ../bower_components/foundation/scss/foundation/components/_grid.scss */
.column,
.columns {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
}

/* line 250, ../bower_components/foundation/scss/foundation/components/_grid.scss */
[class*="column"] + [class*="column"]:last-child {
  float: right;
}

/* line 251, ../bower_components/foundation/scss/foundation/components/_grid.scss */
[class*="column"] + [class*="column"].end {
  float: left;
}

@media only screen {
  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  /* line 167, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-1 {
    width: 8.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-2 {
    width: 16.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-3 {
    width: 25%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-4 {
    width: 33.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-5 {
    width: 41.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-6 {
    width: 50%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-7 {
    width: 58.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-8 {
    width: 66.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-9 {
    width: 75%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-10 {
    width: 83.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-11 {
    width: 91.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-12 {
    width: 100%;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-0 {
    margin-left: 0% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-1 {
    margin-left: 8.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-2 {
    margin-left: 16.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-3 {
    margin-left: 25% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-4 {
    margin-left: 33.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-5 {
    margin-left: 41.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-6 {
    margin-left: 50% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-7 {
    margin-left: 58.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-8 {
    margin-left: 66.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-9 {
    margin-left: 75% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-10 {
    margin-left: 83.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-11 {
    margin-left: 91.66667% !important;
  }

  /* line 179, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }

  /* line 187, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.small-centered,
  .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  /* line 190, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.small-uncentered,
  .columns.small-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  /* line 198, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.small-centered:last-child,
  .columns.small-centered:last-child {
    float: none;
  }

  /* line 204, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.small-uncentered:last-child,
  .columns.small-uncentered:last-child {
    float: left;
  }

  /* line 209, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.small-uncentered.opposite,
  .columns.small-uncentered.opposite {
    float: right;
  }

  /* line 216, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.small-collapse > .column,
  .row.small-collapse > .columns {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 219, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.small-collapse .row {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 222, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.small-uncollapse > .column,
  .row.small-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  /* line 167, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-1 {
    width: 8.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-2 {
    width: 16.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-3 {
    width: 25%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-4 {
    width: 33.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-5 {
    width: 41.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-6 {
    width: 50%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-7 {
    width: 58.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-8 {
    width: 66.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-9 {
    width: 75%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-10 {
    width: 83.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-11 {
    width: 91.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-12 {
    width: 100%;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-0 {
    margin-left: 0% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-1 {
    margin-left: 8.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-2 {
    margin-left: 16.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-3 {
    margin-left: 25% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-4 {
    margin-left: 33.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-5 {
    margin-left: 41.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-6 {
    margin-left: 50% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-7 {
    margin-left: 58.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-8 {
    margin-left: 66.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-9 {
    margin-left: 75% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-10 {
    margin-left: 83.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-11 {
    margin-left: 91.66667% !important;
  }

  /* line 179, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }

  /* line 187, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.medium-centered,
  .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  /* line 190, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.medium-uncentered,
  .columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  /* line 198, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.medium-centered:last-child,
  .columns.medium-centered:last-child {
    float: none;
  }

  /* line 204, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.medium-uncentered:last-child,
  .columns.medium-uncentered:last-child {
    float: left;
  }

  /* line 209, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.medium-uncentered.opposite,
  .columns.medium-uncentered.opposite {
    float: right;
  }

  /* line 216, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.medium-collapse > .column,
  .row.medium-collapse > .columns {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 219, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.medium-collapse .row {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 222, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.medium-uncollapse > .column,
  .row.medium-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  /* line 167, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-1 {
    width: 8.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-2 {
    width: 16.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-3 {
    width: 25%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-4 {
    width: 33.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-5 {
    width: 41.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-6 {
    width: 50%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-7 {
    width: 58.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-8 {
    width: 66.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-9 {
    width: 75%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-10 {
    width: 83.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-11 {
    width: 91.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-12 {
    width: 100%;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-0 {
    margin-left: 0% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-1 {
    margin-left: 8.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-2 {
    margin-left: 16.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-3 {
    margin-left: 25% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-4 {
    margin-left: 33.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-5 {
    margin-left: 41.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-6 {
    margin-left: 50% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-7 {
    margin-left: 58.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-8 {
    margin-left: 66.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-9 {
    margin-left: 75% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-10 {
    margin-left: 83.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-11 {
    margin-left: 91.66667% !important;
  }

  /* line 179, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }

  /* line 187, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.large-centered,
  .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  /* line 190, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  /* line 198, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.large-centered:last-child,
  .columns.large-centered:last-child {
    float: none;
  }

  /* line 204, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.large-uncentered:last-child,
  .columns.large-uncentered:last-child {
    float: left;
  }

  /* line 209, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right;
  }

  /* line 216, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.large-collapse > .column,
  .row.large-collapse > .columns {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 219, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.large-collapse .row {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 222, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.large-uncollapse > .column,
  .row.large-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
}
/* Custom CSS
 * --------------------------------------- */
/* line 10, ../scss/main.scss */
body {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "冬青黑体", "Microsoft YaHei", "微软雅黑", Arial;
}

/* line 13, ../scss/main.scss */
h1, h2, h3, h4, h5, h6, p, i {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "冬青黑体", "Microsoft YaHei", "微软雅黑", Arial;
  color: #222;
}

/* line 18, ../scss/main.scss */
h1, h2, h3, h4, h5, h6 {
  color: #2cbf4d;
}

/* line 22, ../scss/main.scss */
.wrap {
  position: relative;
  margin: 0 auto;
  max-width: 960px;
}

/* line 28, ../scss/main.scss */
.radius {
  border-radius: 4px;
}

/* line 32, ../scss/main.scss */
.required:after {
  content: " *";
  color: #ff4444;
}

/* Header Css
 *  --------------------------------------- */
/* line 39, ../scss/main.scss */
#header {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(234, 234, 234, 0.8);
  height: 120px;
  box-shadow: 0px 2px 2px #888;
}
/* line 49, ../scss/main.scss */
#header * {
  font-family: Helvetica, "Microsoft YaHei", "微软雅黑", STHeiti, Arial;
}
/* line 53, ../scss/main.scss */
#header .wrap {
  height: 100%;
}
/* line 57, ../scss/main.scss */
#header nav {
  margin-top: 77px;
}
/* line 60, ../scss/main.scss */
#header nav .name h1 {
  display: none;
}
/* line 63, ../scss/main.scss */
#header nav .nav-item {
  color: #2dcca9;
  font-weight: 400;
  margin: 0;
  font-size: 1.4em;
  padding: 0 1.6rem;
}
/* line 71, ../scss/main.scss */
#header nav .nav-item:hover {
  color: #fff;
}
/* line 75, ../scss/main.scss */
#header nav .second {
  font-size: 1.2em;
}
/* line 80, ../scss/main.scss */
#header .dropdown.button::after {
  border: 0px;
}
/* line 84, ../scss/main.scss */
#header .dropdown span {
  display: inline-block;
  content: "";
  vertical-align: middle;
  margin-left: 4px;
  border: 6px solid;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
/* line 96, ../scss/main.scss */
#header .logo {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
/* line 103, ../scss/main.scss */
#header .logo > a {
  display: block;
  height: 100%;
  background: url(/img/logo.png) no-repeat center;
  background-size: auto 100%;
  position: relative;
}
/* line 111, ../scss/main.scss */
#header .logo .bottom-words {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 170%;
  margin-left: -50px;
  color: #2dcca9;
}
/* line 120, ../scss/main.scss */
#header .logo .jimi {
  visibility: hidden;
}

/* line 126, ../scss/main.scss */
#products-drop:before, #products-drop:after {
  left: 74px;
}

/* line 129, ../scss/main.scss */
#products-drop {
  width: 160px;
  margin-top: 0;
}
/* line 133, ../scss/main.scss */
#products-drop li a {
  padding: 0;
  margin: 0;
  color: #2dcca9;
  background-color: rgba(234, 234, 224, 0.8);
  line-height: 40px;
}

/* line 142, ../scss/main.scss */
body {
  padding-top: 120px;
}

/* Main Css
 *  --------------------------------------- */
/* line 148, ../scss/main.scss */
.main {
  width: 100%;
}

/* line 152, ../scss/main.scss */
.first-view {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #f3f2ea;
  background-size: cover;
  background-position: center;
}
/* line 160, ../scss/main.scss */
.first-view .caption-container {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 167, ../scss/main.scss */
.banner-image {
  width: 100%;
  height: auto;
}

/* line 172, ../scss/main.scss */
.first-view:after {
  clear: both;
  content: " ";
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(/img/four-colors-line.png) no-repeat center;
  background-size: 100% 100%;
}

/* Footer Css
 * ----------------------------------------- */
/* line 186, ../scss/main.scss */
#footer {
  height: 60px;
  width: 100%;
  background-color: #ddd;
  overflow: hidden;
}

/* line 193, ../scss/main.scss */
#footer a, #footer p {
  color: #777;
  font-size: 14px;
  text-align: center;
}

/* line 199, ../scss/main.scss */
#footer .copyright {
  margin-top: 10px;
  margin-bottom: 2px;
}

/* line 204, ../scss/main.scss */
#footer ul a {
  line-height: 60px;
  padding: 0 20px;
}

/* line 209, ../scss/main.scss */
#footer li {
  display: inline-block;
  margin: 0;
}

/* line 214, ../scss/main.scss */
#footer li.has-next:after {
  color: #777;
  content: "|";
}

/* line 219, ../scss/main.scss */
.social img {
  border-radius: 4px;
}

/* line 223, ../scss/main.scss */
.contact-about {
  position: relative;
  background-color: #dbd9da;
  padding-bottom: 20px;
}

/* line 229, ../scss/main.scss */
.contact-about:before {
  content: "";
  background-color: gray;
  position: absolute;
  top: 0;
  height: 5px;
  width: 100%;
}

/* line 238, ../scss/main.scss */
.contact-about:after {
  content: "";
  background-color: white;
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 100%;
}

/* line 247, ../scss/main.scss */
.submit {
  margin-right: 16px;
  padding: 10px 30px;
  background-color: gray;
}

/* line 253, ../scss/main.scss */
.section-title {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

/* line 259, ../scss/main.scss */
.about-us {
  padding-left: 80px;
}

/* line 263, ../scss/main.scss */
.about-us ul {
  margin-left: 0;
  list-style-type: none;
}

/* line 268, ../scss/main.scss */
.sub-section-title {
  color: black;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 275, ../scss/main.scss */
.model {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin: 0 auto;
  background: transparent no-repeat center;
  background-size: contain;
}

/*
 Medium CSS
 --------------------------------------- */
/*
 small CSS
 --------------------------------------- */
@media only screen and (max-width: 40em) {
  /* line 296, ../scss/main.scss */
  .caption-container {
    background-color: rgba(0, 0, 0, 0.1);
  }

  /* line 301, ../scss/main.scss */
  #header .expanded .nav-item {
    background-color: white;
  }
  /* line 305, ../scss/main.scss */
  #header .expanded .nav-item:hover {
    background-color: #2dcca9;
  }
  /* line 309, ../scss/main.scss */
  #header .title.back a {
    background: white;
  }
  /* line 313, ../scss/main.scss */
  #header .title.back a:hover {
    color: white;
    background-color: #2dcca9;
  }
  /* line 319, ../scss/main.scss */
  #header .logo > a {
    background-position: left center;
  }
  /* line 323, ../scss/main.scss */
  #header .logo .bottom-words {
    left: 0;
    margin-left: 26px;
  }

  /* line 330, ../scss/main.scss */
  #footer {
    height: 180px;
  }

  /* line 334, ../scss/main.scss */
  .footer-item {
    margin: 0 auto;
    height: 60px;
  }

  /* line 339, ../scss/main.scss */
  .about-us {
    padding-left: 20px;
  }
}
